body {
    background-color: rgb(255, 193, 252);
    font-family: Verdana;
}

h3 {
    color: rgb(93, 0, 105);
    font-size: 30;
    text-align: center;
    text-decoration: underline;
}

h5, h6 {
    color: rgb(116, 0, 19);
    font-style: oblique;
}

#l00 {
    color: rgb(93, 0, 105);
    font-size: 20;
    text-align: center;
    text-decoration: underline;
}

#li0 {
    text-align: left;
    margin-left: 30%;
}

#l0 {
    color: rgb(116, 0, 19);
    font-style: oblique;
    text-align: left;
    margin-left: 30%;
}

#l1 {
    text-align: left;
    margin-left: 31.5%;

}